<!DOCTYPE html>
<html lang="en" ng-app="customersApp">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container" ng-controller="CustomersController">
            <h1>Working with routes</h1>
            <br>
            <table>
                <tr>
                    <th ng-click="doSort('name')">Name</th>
                    <th ng-click="doSort('city')">City</th>
                    <th ng-click="doSort('orderTotal')">Order Total</th>
                    <th ng-click="doSort('joined')">Joined</th>
                </tr>
                <tr ng-repeat="cust in customers">
                    <td> {{ cust.name | uppercase }}</td>
                    <td> {{ cust.city | lowercase }}</td>
                    <td> {{ cust.orderTotal | currency }}</td>
                    <td> {{ cust.joined | date }}</td>
                </tr>
            </table>
            <br>
            <h3>Total Customers: {{ customers.length }}</h3>
        </div>
    </body>
</html>