<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Animations in Angular</h1>
            <div ng-init="checked = true">
                <lable>
                    <input type="checkbox" ng-model="checked"/>Is visible
                </lable>
            <div class="content-area sample-show-hide" ng-show="checked">
                <button>I can go away!</button>
            </div>
            </div>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
        <script src="./../node_moduels/angular-animate/angular-animate.js"></script>
    </body>
</html>