<!DOCTYPE html>
<html lang="en" ng-app="customersApp">
    <head>
        <meta charset="utf-8">
        <title>Controllers in AngularJS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" ng-controller="Customers">
            <h1>Condtrollers in AngularJS</h1>
            Filter: <input type="text" name="customFilter.name"/>
            <br><br>
            <table class="table">
                <tr>
                    <th ng-click="doSort('name')">Name</th>
                    <th ng-click="doSort('name')">City</th>
                    <th ng-click="doSort('name')">Order Total</th>
                    <th ng-click="doSort('name')">Joined</th>
                </tr>
                <tr ng-repeat="cust in customers">
                    <td>{{ cust.name | uppercase }}</td>
                    <td>{{ cust.city | lowercase }}</td>
                    <td>{{ cust.orderTotal | currency }}</td>
                    <td>{{ cust.joined | date }}</td>
                </tr>
            </table>
            <br><br>
            <h3>Total number of customers: {{ customers.length }}</h3>
        </div>
        <script src="./../controllers/customersController.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    </body>
</html>