<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
         <title>Agular Data Binding</title>   
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="./../public/stylesheets/app.css"
    </head>
    <body>
        <div class="container">
            <h1>Data Binding</h1>
            <div class="form-group">
                <lable for="first">Enter your first name</lable>
                <input type="text" class="form-control" name="first" id="first" placeholder="John" ng-model="first">
            </div>
            <div class="form-group">
                <lable for="last">Enter your last name</lable>
                <input type="text" class="form-control" name="last" id="last" placeholder="Doe" ng-model="last">
            </div>
            <div class"form-group">
                <input type="submit" class="btn-primary" id="submit" name="submit">
            </div>
            <h3 ng-hide>
                Welcome {{first}} {{last}}
            </h3>
        </div>
        
         <script src="./../node_modules/angular/angular.js"></script>
    </body>
</html>