<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Amgular Ng-Hide</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Angular Ng-Hide</h1>
            <br>
                Check the box to make yourself awesome: <input type="checkbox" ng-model="myVar">
            <br>
            <h1 ng-hide="myVar">You are not awesome!</h1>
        </div>
    </body>
</html>