<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <title>Iteration with Angular</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container" ng-init="people=[{name: 'Choah', city: 'Seoul'}, {name: 'Aiko', city: 'Nagoya'}, {name: 'Kat', city: 'Manilla'}, {name: 'Ellen', city: 'Taipei'}, {name: 'Fei', city:'Shanghai'}, {name: 'Suzi', city: 'Shanghai'}]">
            <h1>Iteration with Angular</h1>
            <ul ng-cloak>
               <li ng-repeat="person in people"> {{person.name}} -- {{person.city}}</li>
            </ul>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>
