<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Limits with AngularJS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container" ng-init="customers=[{name: 'John', city: 'Chandler', joined: '2000-12-02', orderTotal: 300}, {name: 'Mary', city: 'Englewood', joined: '2010-10-12', orderTotal: 400}, {name: 'Huck', city: 'Yuma', joined: '2013-09-09', orderTotal: 500}]">
            <h1>Limits with AngularJS</h1>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Order Total</th>
                    <th>Joined</th>
                </tr>
                <tr ng-repeat="cust in customers | limitTo: 2" ng-cloak>
                    <td>{{ cust.name | uppercase }}</td>
                    <td>{{ cust.city  | lowercase }}</td>
                    <td>{{ cust.orderTotal  | currency }}</td>
                    <td>{{ cust.joined | date}}</td>
                </tr>
            </table>
        </div>
        <script src="./../node_modules/angular/angular.js"></script>
    </body>
</html>
