<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Angular Mouseover</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Angular Mouseover</h1>
            <button class="btn" ng-mouseover="count = count +1" ng-click="count = count -1" ng-init"count=0">Hover Over Me!</button>
            <br>
            <h1 ng-cloak>{{ count }}</h1>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>