<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Iteration with ng-Repeat</title><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./../public/stylesheets/app.css">
    </head>
    <body ng-init="people=[{name: 'Aiko', city: 'Nagoya'}, {name: 'An', city: 'Shanghai'}, {name: 'Kat', city: 'Manilla'}]">
        <div class="container">
            
            <div ng-repeat="person in people">
                <button class="btn btn-warning">{{ people.name }}</button> <span>{{ people.city }}</span>
            </div>
        </div>
        
          <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>