<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
         <meta charset="utf-8">
         <title>Angular Data Binding</title>   
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <link rel="stylesheet" href="./../public/stylesheets/app.css">
    </head>
    <body ng-cloak>
        <div class="container">
            <h1>Data Binding with Numbers</h1>
            <div class="form-group">
                <lable for="first">What is the Length of the Rectangle?</lable>
                <input type="number" min="1" class="form-control" name="length" id="length" ng-model="length">
            </div>
            <div class="form-group">
                <lable for="last">What is the Width of the Rectangle?</lable>
                <input type="number" min="1" class="form-control" name="width" id="width" ng-model="width">
            </div>
            <div class"form-group">
                <input type="submit" class="btn-primary" id="submit" name="submit">
            </div>
            <h3 id="hidden" ng-cloak>The area of the rectangle is: {{length * width}}</h3>
        </div>
        
         <script src="./../node_modules/angular/angular.js"></script>
         <script src="./../public/js/scripts.js"></script>
    </body>
</html>