<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Angular ng-show</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container">
            <h1>Angualr ng-show</h1>
            <br>
            Check to See How Awesome you are: <input type="checkbox" ng-model="myVar">
            <br>
            <div ng-cloak>
                <h1 ng-show="myVar">You are Super Awesome!</h1>
            </div>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>