<!DOCTYPE html>
<html>
    <head>
        <title>Angular ng-show</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="./../public/stylesheets/app.css"/>
    </head>
    <body>
        <div class="container"
            <h1>Angualr ng-show</h1>
            <br>
            <button class="brn-primary">Click to Show</button>
        </div>
        <script src="./../node_modules/angular/angular.min.js"></script>
    </body>
</html>